.AllExpenses{
  background-color: white;
  color: white;
  text-align: center;

}

tr{
    
    background-color: black;
}

td{
    width:600px;
    height:40px;
}
td:hover{
    background-color: rgb(99, 97, 97);
}

th{
   background-color: orange;
   color: black;
   width:600px;
   height:60px;
}